BR2_arm=y
BR2_arm920t=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_PATH="../arm-unknown-linux-gnueabi/"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-unknown-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_5_18=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
# BR2_TOOLCHAIN_EXTERNAL_INET_RPC is not set
BR2_TOOLCHAIN_EXTERNAL_CXX=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_PEBSIZE=0x4000
BR2_TARGET_ROOTFS_UBI_SUBSIZE=256
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x3e00
BR2_TARGET_ROOTFS_UBIFS_MINIOSIZE=0x200
