BR2_arm=y
BR2_arm920t=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_KERNEL_HEADERS_AS_KERNEL=y
BR2_TARGET_GENERIC_HOSTNAME="smdk2410"
BR2_GCC_VERSION_4_9_X=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH="../smdk2410-kernel.patch"
BR2_LINUX_KERNEL_DEFCONFIG="s3c2410"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="../smdk2410-kernel.config"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x3e00
BR2_TARGET_ROOTFS_UBIFS_MINIOSIZE=0x200
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_PEBSIZE=0x4000
BR2_TARGET_ROOTFS_UBI_SUBSIZE=256
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2012.04.01"
BR2_TARGET_UBOOT_BOARDNAME="smdk2410"
