CT_CONFIG_VERSION="4"
# CT_REMOVE_DOCS is not set
# CT_PREFIX_DIR_RO is not set
CT_ARCH_ARM=y
CT_ARCH_TUNE="arm920t"
CT_ARCH_ARCH="armv4t"
CT_ARCH_FLOAT_SW=y
CT_TOOLCHAIN_CMAKE_TOOLCHAIN_FILE=y
CT_KERNEL_LINUX=y
CT_LINUX_V_5_18=y
CT_BINUTILS_PLUGINS=y
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
CT_CC_LANG_CXX=y
CT_DEBUG_DUMA=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS_PYTHON is not set
CT_GDB_NATIVE=y
CT_DEBUG_LTRACE=y
CT_DEBUG_STRACE=y
